name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build the Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: deploy/Dockerfile
        platforms: linux/amd64,linux/arm64
        push: false
        tags: booksmarks-manager:${{ github.run_id }}
